<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Chrome.WebDriver" version="2.30" targetFramework="net45-profile111" />
  <package id="Selenium.Firefox.WebDriver" version="0.18.0" targetFramework="net45-profile111" />
  <package id="Selenium.Support" version="3.5.1" targetFramework="net45-profile111" />
  <package id="Selenium.WebDriver" version="3.5.1" targetFramework="net45-profile111" />
  <package id="Xamarin.Forms" version="2.3.4.231" targetFramework="portable45-net45+win8+wpa81" />
</packages>